<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous"
    >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  <body>
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Gestion de Cabinet Médical</a>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accueil">Section CLIENT <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="/" class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: white;box-shadow: 0 0 0.5em #55efc4;">déconnecter</a>
        </form>
      </div>
    </nav>
    <!-- end nav bar -->
    <center><h1 class="text-center mt-5">Section CLIENT/Visite Médicale/Modification Des visit</h1></center>
    <div class="mb-5 ml-5">
      <a href="/visitemedicale/<%=cin%>/<%=ID%>" style="color: white">
        <button type="button" class="btn btn-lg btn-outline-info"><i class="fas fa-arrow-left"></i>
          Back
        </button>
      </a>
    </div>

    <!-- start action -->
    <section>
      <div class="container">
        <div class="tab-pane fade in show active" id="tabCheckoutBilling123" role="tabpanel">
          <!--Card content-->
          <form action="/editvisitmidical/<%=cin%>/<%=ID%>/<%= listVisit.ID %>" method="POST">
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6" style="display: flex;">
                  <!--DATE VISITE-->
                  <h3 class="col-md-6 "><strong for="firstName" >DATE VISITE :</strong></h3>
                  <input type="text" id="DateInscription" name="DateInscription" class="form-control col-md-6 mb-4" value="<%= listVisit.DateInscription %>">
                </div>
                <div class="col-md-6 " style="display: flex;">
                </div>
            </div>
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 " style="display: flex;">
                  <!--ID-->
                  <h3 class="col-md-6 "><strong for="firstName" class="">ID CLIENT :</strong></h3>
                  <input type="text" id="ID" name="ID" class="form-control col-md-6" value="<%=ID%>" readonly>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 " style="display: flex;">
                  <!--CIN-->
                  <h3 class="col-md-6 "><strong for="lastName" class="">CIN CLIENT :</strong></h3>
                  <input type="text" id="visitem" name="visitem" class="form-control col-md-6" value="<%=cin%>" readonly><br>
                </div>
                <!--Grid column-->
            </div>
            <hr>
            <!--1-Effets secondaires-->
            <strong>1-Effets secondaires</strong>
            <textarea type="text" id="EffetsSecondaires" name="EffetsSecondaires" placeholder="Effets secondaires" class="form-control mb-4" rows="4"><%= listVisit.EffetsSecondaires %></textarea>
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 mb-4">
                  <!--2-Tension Artérielle-->
                  <strong>2-Tension Artérielle</strong>
                  <input type="text" id="TensionArterielle" name="TensionArterielle" class="form-control" placeholder="Tension artérielle" value="<%= listVisit.TensionArterielle %>">
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 mb-2">
                  <!--3-Fréquence Cardiaque-->
                  <strong>3-Fréquence Cardiaque</strong>
                  <input type="text" id="FrequenceCardiaque" name="FrequenceCardiaque" class="form-control" placeholder="Fréquence cardiaque" value="<%= listVisit.FrequenceCardiaque %>">
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 mb-4">
                  <!--4-Température Corporelle-->
                  <strong>4-Température Corporelle</strong>
                  <input type="text" id="TemperatureCorporelle" name="TemperatureCorporelle" class="form-control" placeholder="Température corporelle" value="<%= listVisit.TemperatureCorporelle %>">
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 mb-2">
                  <!--5-Poids Corporel-->
                  <strong>5-Poids Corporel</strong>
                  <input type="text" id="PoidsCorporel" name="PoidsCorporel" class="form-control"  placeholder="Poids Corporel" value="<%= listVisit.PoidsCorporel %>">
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            <!--6-Le diagnostic du médecin-->
            <strong>6-Le diagnostic du médecin</strong>
            <textarea type="text" id="DiagnosticMedecin" name="DiagnosticMedecin" class="form-control mb-4" placeholder="Le diagnostic du médecin" rows="4"><%= listVisit.DiagnosticMedecin %></textarea>
            <!--7-les médicament-->
            <strong>7-les médicament</strong>
            <textarea type="text" id="Mdicamentes" name="Mdicamentes" class="form-control mb-4" placeholder="les médicament" rows="4"><%= listVisit.Mdicamentes %></textarea>
            <hr>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitches">
              <label class="custom-control-label" for="customSwitches">activier la mis a jour</label>
            </div>
            <hr>
            <button id="btn-visit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0 btn-lg" onclick="this.style.backgroundColor='#e67e22'" style="box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);background-color: #b2bec3;"><i class="fas fa-user-edit"></i> Enrejestrer La modification</button>
            <!-- Default switch -->
          </form>
          <a href="/deletevisitmidical/<%=cin%>/<%=ID%>/<%= listVisit.ID %>" style="color: white" onclick="return confirm('are u sure ?')" id="linkdelet">
            <button type="button" class="btn btn-danger btn-rounded btn-block my-4 waves-effect z-depth-0 btn-lg" id="btndelete"><i class="fas fa-trash-alt"></i><i class="fas fa-book-user"></i>
              Delete
            </button>
          </a>
        </div>
      </div>
    </section>
    <!-- end action -->

    <div style="background-color: red;bottom: 0px;width: 100%;">
      <!-- start fouter -->
      <center>
        <!-- Footer -->
        <footer class="page-footer font-small cyan darken-3" style="background-color: #a5b1c2">
          <!-- Footer Elements -->
          <div class="container">
        
            <!-- Grid row-->
            <div class="row">
          
              <!-- Grid column -->
              <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">
                  <!-- Facebook -->
                  <a class="fb-ic">
                    <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <!-- Twitter -->
                  <a class="tw-ic">
                    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <!-- Google +-->
                  <a class="gplus-ic">
                    <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <!--Linkedin -->
                  <a class="li-ic">
                    <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <!--Instagram-->
                  <a class="ins-ic">
                    <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <!--Pinterest-->
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row-->
          </div>
          <!-- Footer Elements -->
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> Taoufiq RHOUAS</a>
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
      </center>
    
      <!-- end fouter -->
    </div>
    
    <!-- script -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function(){
        $('#Mdicamentes').prop('disabled', true);
        $('#DateInscription').prop('disabled', true);
        $('#EffetsSecondaires').prop('disabled', true);
        $('#TensionArterielle').prop('disabled', true);
        $('#FrequenceCardiaque').prop('disabled', true);
        $('#TemperatureCorporelle').prop('disabled', true);
        $('#PoidsCorporel').prop('disabled', true);
        $('#DiagnosticMedecin').prop('disabled', true);
        $('#Mdicamentes').prop('disabled', true);
        $('#btn-visit').css( "cursor", "not-allowed" );
        $('#btn-visit').prop( 'disabled', true );
        $('#linkdelet').prop( 'disabled', true );
        $('#btndelete').prop( 'disabled', true );
        $('#linkdelet').css( "cursor", "not-allowed" );
        $('#btndelete').css( "cursor", "not-allowed" );
        var cont = 0;
        $('#customSwitches').click(function(){
          if(cont == 0){
              $('#Mdicamentes').prop('disabled', false);
              $('#DateInscription').prop('disabled', false);
              $('#EffetsSecondaires').prop('disabled', false);
              $('#TensionArterielle').prop('disabled', false);
              $('#FrequenceCardiaque').prop('disabled', false);
              $('#TemperatureCorporelle').prop('disabled', false);
              $('#PoidsCorporel').prop('disabled', false);
              $('#DiagnosticMedecin').prop('disabled', false);
              $('#Mdicamentes').prop('disabled', false);
              $('#btn-visit').prop( 'disabled', false );
              $('#btn-visit').css( "background-color", "#fdcb6e" );
              $('#btn-visit').css( "cursor", "pointer" );
              $('#linkdelet').prop( 'disabled', false );
              $('#btndelete').prop( 'disabled', false );
              $('#linkdelet').css( "cursor", "pointer" );
              $('#btndelete').css( "cursor", "pointer" );
              cont = 1;
          }
          else if(cont == 1){
              $('#Mdicamentes').prop('disabled', true);
              $('#DateInscription').prop('disabled', true);
              $('#EffetsSecondaires').prop('disabled', true);
              $('#TensionArterielle').prop('disabled', true);
              $('#FrequenceCardiaque').prop('disabled', true);
              $('#TemperatureCorporelle').prop('disabled', true);
              $('#PoidsCorporel').prop('disabled', true);
              $('#DiagnosticMedecin').prop('disabled', true);
              $('#Mdicamentes').prop('disabled', true);
              $('#btn-visit').prop( 'disabled', true );
              $('#btn-visit').css( "background-color", "#b2bec3" );
              $('#btn-visit').css( "cursor", "not-allowed" );
              $('#linkdelet').prop( 'disabled', true );
              $('#btndelete').prop( 'disabled', true );
              $('#linkdelet').css( "cursor", "not-allowed" );
              $('#btndelete').css( "cursor", "not-allowed" );
              cont = 0;
          }
        })
      });
    </script>
  </body>
</html>
